@import 'styles/variables.scss';

.button {
  font-weight: 700;
  color: black;
  text-decoration-thickness: .1rem;
  margin-right: 1rem;
  &:hover {
    color: $blue;
    text-decoration-color: $teal;
  }
  &:last-child {
    margin-right: 0;
  }
}