.container {
  margin: 0 auto;
  .tags {
    padding-bottom: 1rem;
  }
}

.stringList {
  display: flex;
  padding-top: .5rem;
  flex-direction: column;
  a {
    margin-bottom: .5rem;
  }
}

.related {
  margin-top: 1rem;
}