@import "variables.scss";

body {
  background-color: $background-color;
  color: $font-color;
  margin: 1rem;
}

h1, h2, h3, h4 {
  font-family: $header-font;
}

p {
  font-family: $body-font;
}

.btn-link {
  font-family: $body-font;
  font-weight: 700;
  color: black;
  text-decoration-thickness: .1rem;
  margin-right: 1rem;
  &:hover {
    color: $blue;
    text-decoration-color: $teal;
  }
  &:last-child {
    margin-right: 0;
  }
}

.title {
  text-align: center;
}

button {
  outline: 0;
}

blockquote {
  margin: 0;
  padding: .5rem 1rem;
  border-left: 8px solid #eee;
  p {
    margin: 0;
  }
}
