@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');
$background-color: #fff;
$navbar-background-color: #eaffff;
$font-color: #585858;
$header-font: 'Fira Sans', Myriad Web, Arial, Helvetica, sans-serif;
$body-font: Verdana, Myriad Web, Syntax, sans-serif;


$blue: #5522fa;
$teal: #5fddc5;
$green: #5fdd5f;
$canary: #fff5ca;
$peach: #fee5da;