@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@300;400&display=swap');
$background-color: #fff;
$navbar-background-color: #eaffff;
$font-color: #585858;
$header-font: Myriad Web, Arial, Helvetica, sans-serif;
$body-font: Verdana, Myriad Web, Syntax, sans-serif;


$blue: #5522fa;
$teal: #5fddc5;
$canary: #fff5ca;
$peach: #fee5da;