@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto;
}

.form {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid rgba(174, 174, 174, 0.5);
  box-shadow: 0 -1px 10px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.1),0 10px 30px #f3ece8;
  label {
    font-family: $header-font;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 1rem;
      padding: 10px;
      border: 1px solid darkgray;
    }
  }
  input.error {
    border: 1px solid #BD2D2A;
    background-color: #fdf2f2;
  }
  span.error {
    color: #BD2D2A;
    font-weight: 500;
    font-size: .8rem;
  }
}

.submit {
  background: none;
  border: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
  padding: .5rem 0;
  font-family: $header-font;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 480px) {
  .form {
    padding: none;
    border: 0px;
    box-shadow: none;
    padding: 1rem;
  }
}

.link {
  display: flex;
}